.contacts
  display flex
  justify-content center
  width 100%
  border-top 1px solid rgba(255, 255, 255, 0.2)
  .contacts__wrp
    flex-direction column
    flex 1
    max-width 1040px
    display flex
    gap 20px
    padding-bottom 50px
    border-left 1px solid rgba(255, 255, 255, 0.2)
    border-right 1px solid rgba(255, 255, 255, 0.2)
    .contacts__header
      // text-align center
      border-bottom 1px solid rgba(255, 255, 255, 0.2)
      padding 20px
      p
        font-size 20px
    .contacts__body
      display flex
      justify-content space-between
      gap 50px
      padding 20px
      .contacts__text
        display flex
        flex-direction column
        justify-content center
        gap 30px
        max-width 40%
        font-size 16px
        font-weight 500

        a
          display flex
          align-items center
          gap 20px
          .iconBox
            position relative
            width 35px
            height 35px
            min-width 35px
            // background repeating-conic-gradient(from 27.5deg, #EC901C 0%, #EC901C 10%, transparent 10%, transparent 50%)
            &::before
              content ''
              position absolute
              inset 0
              // background repeating-conic-gradient(from 117.5deg, #EC901C 0%, #EC901C 10%, transparent 10%, transparent 50%)
            &::after
              content ''
              position absolute
              inset 2px
              background #231F20
            svg
              width 100%
              position absolute
              z-index 10000
              top 0
              bottom 0
              left 0
              right 0
              margin auto
          p
            display flex
            flex-direction column
            font-size 16px
            gap 5px
            span
              color #EC901C
              font-weight 600
              font-size 18px
      .contacts__cart
        overflow hidden
        border-radius 20px
        max-width 50%

@media (max-width: 1024px)
  .contacts
    .contacts__wrp
      margin 0 30px

@media (max-width: 700px)
  .contacts
    .contacts__wrp
      margin 0 15px


// OLD
@media (max-width: 900px)
  .contacts
    .contacts__wrp
      .contacts__body
          flex-direction column
          .contacts__text
            width 100%
            max-width 100%
          .contacts__cart
            max-width 100%