@font-face {
  font-family "CeraPro"
  src url('../assets/fonts/CeraPro-Regular.otf') format('truetype')
  font-weight 400
}
@font-face {
  font-family "CeraPro"
  src url('../assets/fonts/CeraPro-Medium.otf') format('truetype')
  font-weight 500
}
@font-face {
  font-family "CeraPro"
  src url('../assets/fonts/CeraPro-Bold.otf') format('truetype')
  font-weight 800
}