header
  width 100%
  display flex
  justify-content center
  position absolute 
  z-index 1000
  top 20px
  .container
    // background rgba(0, 0, 0, 0.6)
    border: solid 1px #ec901c
    background: rgba(236, 144, 28, 0.05)
    // background rgba(35, 31, 32, 1)
    padding 15px 0
    width 100%
    max-width 1040px
    border-radius 50px 10px 10px 50px
    display flex
    align-items center
    justify-content space-between
    > a
      position relative
      img
        position absolute
        margin auto
        top 0
        bottom 0
        height 80px
        left 0
    nav
      display flex
      align-items center
      gap 30px
      margin-right 20px
      font-weight 500
      font-size 16px
      line-height 20px
      color white
      .groupLink
        display flex
        flex-direction column
        .mail
          font-size 14px
      a
        background-image: linear-gradient(#EC901C, #EC901C)
        background-repeat no-repeat
        background-position 0% 100%
        background-size 0% 2px
        transition all .1s
        &:hover
          background-size 100% 2px
      button
        color white
        background-color linear-gradient(90deg, rgba(252,212,45,1) 2%, rgba(236,144,28,1) 48%)
        padding 5px 20px
    svg
      display none
@media (max-width 1024px)
  header
    .container
      margin 0 30px
@media (max-width 700px)
  header
    top 40px
    .container
      border none
      background transparent
      margin 0 15px
      a
       img
        height 60px
      nav
        top 0
        gap 60px
        position fixed
        flex-direction column
        height 100%
        width 100%
        padding-top 50%
        background #231f20
        color white
        transition left .3s ease-in-out
      svg
        display block
        position absolute
        right 15px
        top 0
        width 30px
        height 30px
        z-index 100