.img-magnifier-container
  position relative
  img
    display flex
    flex 1
    gap 10px
    max-height 500px
.img-magnifier-glass
  position absolute
  cursor none
  background-color transparent
  /*Установите размер стекла лупы:*/
  width 150px
  height 150px