.img-magnifier-container
  position relative
  display flex
  img
    display flex
    flex 1
    gap 10px
    max-height 600px
    max-width 460px
    cursor pointer
.img-magnifier-glass
  position absolute
  cursor none
  background-color #231f20
  /*Установите размер стекла лупы:*/
  width 280px
  height 280px